In [1]:
import pandas as pd

In [32]:
df = pd.read_csv("Covid.csv")

In [34]:
df

    LOCATION_ID  COVID_COUNT  COVID_DEATHS  COVID_TEST  COUNTY_NAME
0         18001         5982            93       19244        Adams
1         18003        76699           955      269458        Allen
2         18005        14879           201       60108  Bartholomew
3         18007         1917            20        6721       Benton
4         18009         2447            49        8280    Blackford
..          ...          ...           ...         ...          ...
87        18175         4305            60       15679   Washington
88        18177        13641           283       47985        Wayne
89        18179         5362           118       17483        Wells
90        18181         5375            75       17890        White
91        18183         7450            68       22271      Whitley

[92 rows x 5 columns]

In [43]:
name = "LOCATION_ID"
name1 = "COVID_COUNT"
value = 18029
value1 = 18095

In [50]:
x = df[df[name] == value][name1].values[0]

In [52]:
x1 = df[df[name] == value1][name1].values[0]

In [53]:
x + x1

34324

In [49]:
x2

array([34324])

In [54]:
df1 = pd.read_csv("testcol.csv")

In [56]:
col = df1.columns

In [57]:
col

Index(['_id', 'Column Name', 'Description'], dtype='object')

In [58]:
for i in col:
    if i == '_id' :

TypeError: 'method' object is not subscriptable

In [60]:
df["COVID_TEST"].value_counts()

19244     1
12183     1
15558     1
26071     1
8050      1
         ..
273671    1
19700     1
43032     1
22555     1
22271     1
Name: COVID_TEST, Length: 92, dtype: int64

In [1]:
pip install --user bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 2.4 MB/s eta 0:00:011
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=574541d642257d1bcac143e54d1c9b5a5ee22ab7b1b01a9e583205c3e3e04329
  Stored in directory: /geode2/home/u010/anshdixi/Carbonate/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
from bs4 import BeautifulSoup
import urllib
str='https://hub.mph.in.gov/dataset/maternal-health-claims-by-recipient-county' #my_url
source = urllib.request.urlopen(str)
soup = BeautifulSoup(source,'html.parser')
for items in soup.find_all(class_="module-content"):
    data = '\n'.join(['\n'.join([item.text,item.find_next("p").text]) for item in items.find_all("h4")])
    print(data)

In [22]:
x = soup.find_all(class_='module-content')
for para in soup.find("h1"):
    header = para.get_text()

for para in soup.find("p"):
    paragraph = para.get_text()

In [26]:
header = header.strip()

In [27]:
paragraph = paragraph.strip()

In [30]:
content = header + '\n' +paragraph

In [31]:
text_file = open("s.txt", "wt")
n = text_file.write(content)
text_file.close()